name: linting & test coverage - linux

on:
  push:
    branches:
      - master
  pull_request:

env:
  CI: true

defaults:
  run:
    shell: bash

jobs:
  check:
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 18.x
          - 22.x
        platform:
          - ubuntu-latest

    runs-on: ${{matrix.platform}}

    steps:
      - uses: actions/checkout@v5
      - name: cache node modules for ${{matrix.node-version}}@${{matrix.platform}}
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{matrix.node-version}}@${{matrix.platform}}-build-${{hashFiles('package-lock.json')}}
          restore-keys: |
            ${{matrix.node-version}}@${{matrix.platform}}-build-
      - name: set up node ${{matrix.node-version}}@${{matrix.platform}}
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
      - name: install & build
        run: |
          node --version
          npm install
          npm run build
      - name: lint & forbidden dependency check
        run: |
          node --version
          npm run lint
          npm run depcruise
      - name: test coverage
        run: |
          node --version
          npm run test:cover
